::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #292a2d;
}
::-webkit-scrollbar-thumb {
  background: #126e82;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #126e82;
  /* E3405F */
}